#header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #text {
        display: flex;
        align-items: center;
        
        gap: 20px;

        #urls {
            display: flex;
            gap: 10px;

            font-size: 10px;

            color: var(--grayish-violet)
        }
    }

    #buttons {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;

        #login {
            background-color: transparent;
            color: var(--grayish-violet);
        }
    }
}