#top {
    display: grid;
    grid-template-columns: auto auto;

    #text {
        h1 {
            font-size: 40px;
        }

        p {
            color: var(--grayish-violet);
        }
    }
}